@import "variables";

*{
  box-sizing: border-box;
}
body{
  font: 18px/24px $main-font;
  background: slategrey;
}
#wrapper{
  border:1px solid $border-color;
  width: 1000px;
  background: white;
  margin: 0 auto;
}
@import "top";
@import "header";
@import "menu";
@import "content";
@import "sidebar";
@import "footer";
@import "media";









